<!--Search -->
<form asp-controller="Product" asp-action="All" method="get" class="search-bar ms-auto">
    <input type="text" name="searchString" placeholder="Search products..." />
    <button type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>